<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="Eevis.codes-instatilin linkkilista" />
    <meta name="author" content="Eevis Panula" />
    <meta property="og:title" content="Linkit Eevis.codes-instatililtä" />
    <meta property="og:site_name" content="Linkit Eevis.codes-instatililtä" />
    <meta property="og:url" content="https://eevis.codes/links" />
    <meta property="og:description" content="Linkit Eevis.codes-instatililtä" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://eevis.codes/links" />
    <meta property="twitter:title" content="Eevis.codes-instatilin linkkilista" />
    <meta property="twitter:description" content="Eevis.codes-instatilin linkkilista" />
    <meta property="twitter:image" content="{{ '/assets/image.png' | url }}" />
    <meta property="og:image" content="{{ '/assets/image.png' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/index.css' | url }}" />
    <link
      rel="icon"
      type="image/png"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/link_1f517.png"
    />
  </head>
  <body>
    <main id="main">
      <div class="background-div"></div>
      {{ content }}
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="https://www.instagram.com/eevis.codes/">Instagram</a></li>
          <li><a href="https://linkedin.com/in/eevajonna">LinkedIn</a></li>
          <li><a href="https://twitter.com/EevisPanula">Twitter</a></li>
          <li><a href="https://dev.to/eevajonnapanula">Dev.to</a></li>
          <li><a href="https://eevis.codes">Eevis.codes</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
